.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
  height: 100px;

  .head-lg {
    display: flex;

    img {
      height: 100%;
      margin-right: 10px;
      padding: 5px;
    }

    .logo .name {
      font-size: 24px;
      font-weight: 600;
      color: $clrblack;
    }

    .text {
      font-size: 12px;
      font-weight: 300;
      color: #999999;
      line-height: .1;
    }
  }

  .header-right {
    display: flex;

    .call-text {
      color: $clrgry;
      margin-right: 100px;

      span {
        color: $clrblack;
        font-weight: bold;
      }

      @media (max-width: 1199px) {
        display: none;
      }
    }

    div {
      margin-right: 50px;
    }

    .head-icons {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}

.fa {
  color: $clrblack;
  margin-right: 20px;

  &:hover {
    color: $clrgreen;
  }

  &:last-child {
    margin-right: 0;
  }
}

.burger {
  width: 25px;
  height: 20px;
  background-color: $clrgreen;

  span, span::before, span::after {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: $clrblack;

  }
}

